@import "tailwindcss";

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker {
  font-family: inherit;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.react-datepicker__header {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

.react-datepicker__day--selected {
  background-color: #059669 !important;
  border-radius: 0.5rem;
}

.react-datepicker__day:hover {
  border-radius: 0.5rem;
}
